

@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');
.hero{
    background-color: #FAF9F6;
    overflow: hidden;
  }
  .hero h1{
    color:rgb(48, 45, 45);
    font-size: 40px;
    text-align: center;
    margin-top: 35px;
    font-family: sans-serif;
    font-size: 20px;
  }

  .hero h1::after{
    content: '';
    background-color: orange;
    width: 100px;
    height: 5px;
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:30px auto;
  }
  .hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    
  }
  .hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
    font-family: sans-serif;
    font-weight: 700;
  }
  .hero-content p{
    font-size: 20px;
   line-height: 1.5;
   margin-bottom: 40px;
   color: #666;
   font-family: sans-serif;
   font-size: 18px;
  }
  .hero-content button{
    display: inline-block;
    background-color: rgb(48, 45, 45);
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .hero-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
  }
  
  .hero-image{
    flex: 1;
    width: 600px;
    margin: auto;
    
  }
  .hero-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }

  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  
  @media screen and (max-width:768px) {
    .heading h1{
      font-size: 20px;
      margin-top: 30px;
    }
    .hero{
      margin: 0px;
    }
    .container{
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;
    }
    .hero-content{
      width: 100%;
      margin: 35px 0px;
    }
    .hero-content h2{
      font-size: 30px;
    }
    .hero-content p{
      font-size: 18px;
      margin-bottom: 20px;
    }
    .hero-content button{
      font-size: 16px;
      padding: 8px 16px;
    }
    .hero-image{
      width: 100%;
    }
  }
  
  
  