
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap');


.containerr {
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .containerr img {
    width: 100%;
    height: 500px;
    animation: fadeInRight 2s ease;
  }
  
  .hero-text {
    width: 80%;
    animation: fadeInUp 2s ease;
    
    
  }
  
  .hero-text h1 {
    font-size: 3.3rem;
    margin-bottom: 12px;
    color: #8b4513;
    font-family: sans-serif;
    font-weight: 900;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 12px;
    font-family: sans-serif;
   
  }
  
  .trackk button {
    padding: 1em 2.1em 1.1em;
    border-radius: 20px;
    margin: 8px;
    border: none;
    background-color: orange;
    color: #000000;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2rem 0em rgb(74, 67, 67) inset;
    transition: color .2s ease-in-out;
  }
  
  .trackk button:hover {
    background-color: black;
    color: orange;
    border: 3px solid;
    cursor: pointer;
  }

  .track h3 {
    color: #333; 
    padding-left: 10px;
    padding-top: 30px;
    font-size: 30px;
  }
  
  .track form {
    margin-top: 30px; 
    padding-left: 10px;
  }
  .track input{
    padding-left: 50px; 
 }
  
  .track input[type="text"] {
    padding: 14px 55px;
    width: 250px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
   
    
  }
  .prohibited-list {
    padding: 20px;
    width: 50%;
    height: 70%;
    background-color: white;
    padding: 30px;
  }
  
  .prohibited-list h2 {
    text-align: center;
  }
  
  .prohibited-list ul {
    list-style-type:square;
    padding-left: 20px;
  }
  
  .prohibited-list li {
    margin-bottom: 10px;
    font-weight: 600;
  }

  .rate{
    width: 50%;
    height: 40%;
    background-color: white;
  }
  
  
  .track button {
    padding: 14px 55px;
    background-color: black; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 10px;
    transition: 0.6s;
  }
  
  .track button:hover {
    background-color: orange;
    color: black; 
  }
  .track{
    transition: all 0.6s ease-out;
    /* transform: translateX(-200%); */
  }
  
  .btncalc{
    position: relative;
    text-align: center;
    
  }
  .button {
    padding: 1em 2.1em; 
    border-radius: 3px;
    margin-right: 60px;
    color: black;
    display: inline-block;
    background: orange; 
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
    width: 300px; /* Set a fixed width for all buttons */
}

.prob{
  font-weight: 900;
  font-style: bold;
  font-size: 24px;
  margin-top: 30px;
  color: rgb(5, 5, 96);
  margin-bottom: 25px;
}
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .popup{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
   
  .popup-content{
    width: 90%;
    height: auto;
    background-color: white;
    text-align: center;
  }
  .tophead{
    position: absolute;
    width: 90%;
    height: 60px;
    background-color: #ed9121;
  }
  .tophead h1{
    text-align: center;
    padding: 10px;
  } 
  .topheadd{
    position: absolute;
    margin: 0;
    width: 50%;
    margin-left: -30px;
    margin-top: -30px;
    padding: 10px;
    background-color: #ed9121;
  }
  .topheadd h1{
    text-align: center;
    padding: 10px;
  } 
  .topheaddd{
    position: absolute;
    margin: 0;
    width: 50%;
    margin-top: -30px;
    padding: 10px;
    background-color: #ed9121;
  }
  .topheaddd h1{
    text-align: center;
    padding: 1px;
  } 

  .rate p{
    margin-top: 40px;
    padding: 10px 50px;
    text-align: center;
    justify-content: center;
    font-weight: 1000;
  }
    
   #unit {
    margin: 20px 0;
  }
  .popupfields{
    margin-top: 90px;
    
  }
  .input-group {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 40px;
}

.input-group label {
    margin-right: 30px;
}

.input-group input {
    padding: 12px 10px;
    width: 100px;
}
.result {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}
.result input{
  padding: 10px;
  margin-left: 30px;
}

  #result {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }  
  #calculate{
      background-color: orange;
      border: none;
      color: black;
      padding: 12px 22px;
      text-align: center;
      font-size: 16px;
      margin: 20px 1px;
      transition: 0.7s;
      border-radius:10px;
    }
    
    #calculate:hover {
      background-color: #ff8c00 ;
      color: white;
    }
  #close{
      background-color: white;
      border: none;
      color: black;
      padding: 12px 22px;
      text-align: center;
      font-size: 16px;
      margin: 1px 1px;
      transition: 0.7s;
      border-radius:10px;
    }
    
    #close:hover {
      background-color: orange;
      color: white;
    }


  /* Media queries */
  
  @media (max-width: 884px) {
    .containerr {
      margin-top: 10px;
      flex-direction: column;
    }
    .hero-text {
      width: 100%;
      text-align: center;
      
    }
    .hero-text h1 {
      font-size: 25px;
      
    }
    .hero-text p {
      font-size: 15px;
    }
    .button{
      margin-bottom: 30px;
    }
  }
  
  @media (max-width: 678px) {
    .prohibited-list {
      width: 90%;
    }
    .topheadd{
      width: 90%;
    }
    .prob{
      font-size: 15px;
      padding-top: 22px;
    }
    .prohibited-list li{
      font-size: 10px;
    }

    .rate{
      width: 90%;
    }
    .topheaddd{
      width: 90%;
    }
    .tophead{
      font-size: 12px;
    }
    .popup-content{
      height: 550px;
    }
    
    .track button{
        margin-top: 20px;
    }
    .input-group input{
      width: 70px;
    }
    /* .track.open {
      transform: translateX(0);
      position: absolute;
      z-index: 3;
      background-color: white;
  } */
  .btncalc {
    margin-top: 40px; 
    margin-left: 60px;
  }
 
  }
  
  

  /* @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1; 
      transform: translateY(0px);
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  } */
  
  